.mensajes {
  border-radius: 10px;
  margin: 15px;
  width: 100%;
  height: 60%;
  font-family: 'Cranach Regular', sans-serif;
  background-color: #E7B375;
  /* Color de fondo */
  color: #842A2B;
  /* Color de texto */
  border: 2px solid #842A2B;
  /* Color de borde */
  box-shadow: 2px 2px 5px #26191C;
  /* Sombra */
  padding: 10px 20px;
  /* Espaciado interno */
  font-size: 22px;
  /* Tamaño de texto */
  transition: all 0.3s ease;
  /* Transición suave para los efectos */
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  /* Mantiene estabilidad en layout */
  direction: rtl;
  /* Invierte dirección para mostrar scrollbar a la izquierda */

}

.mensajes::-webkit-scrollbar {
  width: 8px;
}

.mensajes::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
}

.mensajes::-webkit-scrollbar-thumb {
  background: #842A2B;
  border-radius: 10px;
  opacity: 50;
}

.mensajes::-webkit-scrollbar-thumb:hover {
  background: #555;
}
